Labs/.vs/
Labs/Labs/x64/Debug/Labs.tlog/unsuccessfulbuild
Labs/Labs/x64/Debug/Labs.tlog/Labs.lastbuildstate
Labs/Labs/x64/Debug/Labs.log
Labs/Labs/x64/Debug/Labs.tlog/CL.command.1.tlog
Labs/Labs/x64/Debug/
Labs/x64/Debug/
